<footer id="footer" class="footer" data-bg-color="#d7010a">
<!-- <footer id="footer" class="footer" style="background-color: aqua;"> -->
    <div class="container pt-70 pb-40">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            
             <h4 class="widget-title line-bottom-theme-colored-2"><strong>ABOUT US</strong></h4>
			<p style="color:#FFFFFF;">Climax Computer Institutes it has been running Under the Aegis of MSME Reg. with Govt. of India.  Climax Computer Institutes is An ISO 9001 : 2023 Certified Institute, is a leading IT Education Provider Institution in Lucknow, Nigoha, India with strong presence in the state of Uttar Pradesh,&nbsp;&nbsp;..</a></p>
            <ul class="list-inline mt-5" style="color:#FFFFFF;">
              <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-theme-colored2 mr-5"></i> <a class="text-gray" href="tel:+91 9359444821,7830166502">+91  8400291965,9935603970</a></li>
              <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-theme-colored2 mr-5"></i> <a class="text-gray" href="mailto:info@itcomputerinstitute.com">climaxcomputer21@gmail.com</a> </li>
              <li class="m-0 pl-10 pr-10"> <i class="fa fa-globe text-theme-colored2 mr-5"></i> <a class="text-gray" href="/">www.climaxcomputerclasses.onrender.com</a> </li>
            </ul>            
            <ul class="styled-icons icon-sm icon-bordered icon-circled clearfix mt-10" style="color:#FFFFFF;">
              <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
         
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h4 class="widget-title line-bottom-theme-colored-2">Useful Links</h4>
            <ul class="angle-double-right list-border">
			<!-- <li><a href="#" ><i class="fa fa-arrow-right"></i> Organizations Profile</a></li> -->
			<!-- <li><a href="#" ><i class="fa fa-arrow-right"></i> Why Climax Computer Institutes?</a></li> -->
              <li><a href="gallery.html" ><i class="fa fa-arrow-right"></i> Gallery </a></li>
              <li><a href="contact-us.html" ><i class="fa fa-arrow-right"></i> Contact Us</a></li>
			<li><a href="/admin-login" target="_blank"><i class="fa fa-arrow-right"></i> Admin Login</a></li>
             
              
             
            
                 
            </ul>
          </div>
        </div>
        
        
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h4 class="widget-title line-bottom-theme-colored-2">Other Network Sites</h4>
            <ul class="angle-double-right list-border">
			<!-- <li><a href="verify.html"><i class="fa fa-arrow-right"></i> Student Verifications</a></li> -->
              	<li><a href="/student-login"><i class="fa fa-arrow-right"></i> Student Login</a></li>
              	
                      <!-- <li><a href="certificate-verification.html"><i class="fa fa-arrow-right"></i> Certificate Verifications</a></li> -->
                      <!-- <li><a href="http://www.nielit.gov.in/Certificate/"target="blank"><i class="fa fa-arrow-right"></i> Download Nielit Certificate</a></li> -->
                       <li><a href="http://student.nielit.gov.in/"target="blank"><i class="fa fa-arrow-right"></i> Download Nielit O'level Result</a></li>
                        <li><a href="http://student.nielit.gov.in/"target="blank"><i class="fa fa-arrow-right"></i> Download CCC Result</a></li>
                         <li><a href="http://student.nielit.gov.in/"target="blank"><i class="fa fa-arrow-right"></i> Download Nielit Admit Card</a></li>
                       <!-- <li><a href="http://www.sarkariresult.com/" target="blank"><i class="fa fa-arrow-right"></i> Get Latest Jobs</a></li>-->
                      
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h4 class="widget-title line-bottom-theme-colored-2">Find us on Map</h4>
            <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=654&amp;hl=en&amp;q=26.557814834199963, 81.04244152197377&amp;t=k&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe></div>
         </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom" data-bg-color="#000">
      <div class="container pt-20 pb-20">
        <div class="row">
          <div class="col-md-6">
            <p class="font-12 text-black-777 m-0 sm-text-center">Copyright &copy; 2023 Climax Computer Institutes. All Rights Reserved</p>
            <p class="font-10 text-black-777 m-0 sm-text-center">Developed by <a href="#" target="_blank">WindEagle Corps.</a></p>
          </div>
          <div class="col-md-6 text-right">
            <div class="widget no-border m-0">
              <ul class="list-inline sm-text-center mt-5 font-12">
                <li>
                  <a href="/">Home </a>
                </li>
                <li>|</li>
              
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>