<footer id="footer" class="footer" data-bg-color="#d7010a">
<!-- <footer id="footer" class="footer" style="background-color: aqua;"> -->
    <div class="container pt-70 pb-40">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            
             <h4 class="widget-title line-bottom-theme-colored-2"><strong>ABOUT US</strong></h4>
			<p style="color:#FFFFFF;">Climax Computer Institutes it has been running Under the Aegis of MSME Reg. with Govt. of India.  Climax Computer Institutes is An ISO 9001 : 2015 Certified Institute, is a leading IT Education Provider Institution in India with strong presence in the state of Uttar Pradesh, Madhya Pradesh & Maharashtra.&nbsp;&nbsp;<a href="pageca5d.html?id=TVRnPQ==" style="color:orange;">Read More..</a></p>
            <ul class="list-inline mt-5" style="color:#FFFFFF;">
              <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-theme-colored2 mr-5"></i> <a class="text-gray" href="tel:+91 9359444821,7830166502">+91 9999999999,9999999999</a></li>
              <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-theme-colored2 mr-5"></i> <a class="text-gray" href="mailto:info@itcomputerinstitute.com">info@complexcomputer.com</a> </li>
              <li class="m-0 pl-10 pr-10"> <i class="fa fa-globe text-theme-colored2 mr-5"></i> <a class="text-gray" href="index-2.html">www.complexcomputer.com</a> </li>
            </ul>            
            <ul class="styled-icons icon-sm icon-bordered icon-circled clearfix mt-10" style="color:#FFFFFF;">
              <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
         
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h4 class="widget-title line-bottom-theme-colored-2">Useful Links</h4>
            <ul class="angle-double-right list-border">
			<li><a href="pageca5d.html?id=TVRnPQ==" ><i class="fa fa-arrow-right"></i> Organizations Profile</a></li>
			<li><a href="page02a9.html?id=TVRrMA==" ><i class="fa fa-arrow-right"></i> Why Climax Computer Institutes?</a></li>
              <li><a href="gallery.html" ><i class="fa fa-arrow-right"></i> Gallery </a></li>
              <li><a href="contact-us.html" ><i class="fa fa-arrow-right"></i> Contact Us</a></li>
			<li><a href="new/index.html" target="_blank"><i class="fa fa-arrow-right"></i> Admin Login</a></li>
             
              <li><a href="new/index.html" target="_blank"><i class="fa fa-arrow-right"></i> Centre Login</a></li>
             
            
                 
            </ul>
          </div>
        </div>
        
        
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h4 class="widget-title line-bottom-theme-colored-2">Other Network Sites</h4>
            <ul class="angle-double-right list-border">
			<li><a href="verify.html"><i class="fa fa-arrow-right"></i> Student Verifications</a></li>
              	<li><a href="login.html"><i class="fa fa-arrow-right"></i> Student Login</a></li>
              	
                      <li><a href="certificate-verification.html"><i class="fa fa-arrow-right"></i> Certificate Verifications</a></li>
                      <!-- <li><a href="http://www.nielit.gov.in/Certificate/"target="blank"><i class="fa fa-arrow-right"></i> Download Nielit Certificate</a></li> -->
                       <li><a href="http://student.nielit.gov.in/"target="blank"><i class="fa fa-arrow-right"></i> Download Nielit O'level Result</a></li>
                        <li><a href="http://student.nielit.gov.in/"target="blank"><i class="fa fa-arrow-right"></i> Download CCC Result</a></li>
                         <li><a href="http://student.nielit.gov.in/"target="blank"><i class="fa fa-arrow-right"></i> Download Nielit Admit Card</a></li>
                       <!-- <li><a href="http://www.sarkariresult.com/" target="blank"><i class="fa fa-arrow-right"></i> Get Latest Jobs</a></li>-->
                      
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h4 class="widget-title line-bottom-theme-colored-2">Find us on Map</h4>
        <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Nigoha%20+(Climax%20xomputers)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" width="600" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe> 
         </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom" data-bg-color="#000">
      <div class="container pt-20 pb-20">
        <div class="row">
          <div class="col-md-6">
            <p class="font-12 text-black-777 m-0 sm-text-center">Copyright &copy; 2019 Climax Computer Institutes. All Rights Reserved</p>
            <p class="font-10 text-black-777 m-0 sm-text-center">Developed by <a href="#" target="_blank">WindEagle Corps.</a></p>
          </div>
          <div class="col-md-6 text-right">
            <div class="widget no-border m-0">
              <ul class="list-inline sm-text-center mt-5 font-12">
                <li>
                  <a href="index-2.html">Home </a>
                </li>
                <li>|</li>
                <li>
                  <a href="page5887.html?id=TVRreg==">About Us</a>
                </li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>