<header id="header" class="header modern-header modern-header-white">
    <div class="header-top top-menu-bg sm-text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="widget text-white">
              <ul class="list-inline xs-text-center text-white">
                <li class="m-0 pl-10 pr-10"> 
                  <a href="/" class="text-white font-12" style="font-size:20px;"><strong>Climax Computer Institutes</strong></a> 
                </li>
              </ul>
            </div>
          </div>
<style>
.blinkmewr{
    animation-duration: 1200ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation:blink 1200ms infinite; /* Safari and Chrome */
}
@keyframes blink {
    from {
        color:#E1BC1E;
    }
    to {
        color:#ffffff;
    }
}
@-webkit-keyframes blink {
    from {
        color:#E1BC1E;
    }
    to {
        color:#ffffff;
    }
}
</style>
		  
          <div class="col-md-9">
            <ul class="list-inline sm-pull-none sm-text-center text-right text-white mb-sm-20 mt-10">
		      			  <!-- <li class="m-0 pl-10"><a href="verify.html" class="text-white"> Verify Student</a></li>
		      			  
			  <li>|</li>
		
			  <li class="m-0 pl-10"><a href="marksheet-verification.html" class="text-white">Mark Sheet Verification</a></li>
			  	  <li>|</li>
			  <li class="m-0 pl-10"><a href="certificate-verification.html" class="text-white">Certificate Verification</a></li>
			  <li>|</li> -->
			  <li class="m-0 pl-10"><a href="/student-login" class="text-white">Student Login</a></li>
			  <li>|</li>
			  <li class="m-0 pl-10 mt-0"><a href="admin-login" class="text-white" target="_blank"><span class="btn btn-theme-colored2 btn-xs">Login</span></a></li>  </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="header-middle p-0 bg-lightest xs-text-center pb-30">
      <div class="container pt-0 pb-0">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-2">
           <img src="images/logonew.jpeg" style="margin-bottom:10px;margin-top:10px; height: 70px;">
          </div>
		   <div class="col-xs-12 col-sm-12 col-md-7">
		   <center> <img src="images/headlogo.png" style="margin-bottom:10px;margin-top:20px; height: 80px;"></center>
		   </div>
         <div class="col-xs-12 col-sm-12 col-md-3">
<style>
                 a.olbtn {
    color: #fff;
}
.olbtn {
    animation: glowing 1500ms infinite;
}
.olbtn {
    background-color: #004A7F;
    -webkit-border-radius: 5px;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
}@-webkit-keyframes glowing {
  0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -webkit-box-shadow: 0 0 10px #FF0000; }
  100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
}

@-moz-keyframes glowing {
  0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -moz-box-shadow: 0 0 3px #ffcc00; }
  100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
}

@-o-keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #ffcc00; box-shadow: 0 0 3px #ffcc00; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

@keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #ffcc00; box-shadow: 0 0 3px #ffcc00; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

.olbtn {
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
</style> 
<br/>
<div class="mrg-tp-15 pull-right" style="margin-top:20px;"> 
<!-- <a class="olbtn" href="contact-us.html" style="margin-top:5px;"><i class="fa fa-phone"></i> Call Request </a> -->
<a class="olbtn" href="inquiry" style="margin-top:5px;"><i class="fa fa-envelope"></i> Enquiry </a>
<!-- <a class="olbtn" href="business-partner.html" style="margin-top:5px;"> Franchise</a> -->
</div>

          </div>
        </div>
      </div>
    </div>
    <div class="header-nav">
      <div class="header-nav-wrapper navbar-scrolltofixed" style="background-color:#d7010a;">
        <!-- <div class="container" style="background:#d7010a;"> -->
        <div class="container" style="background:rgb(36, 199, 248);">
          <nav id="menuzord" class="menuzord default">
            <ul class="menuzord-menu">
              <li  ><a href="/">Home</a></li>
			                  <!-- <li ><a href="#">About Us</a> -->
			    
              
					 
				             
			  
			  
			  <li ><a href="/courses">Courses Offers</a>
                <!-- <ul class="dropdown">
				                 <li ><a href="coursedetails52ef.html?cid=TVE9PQ==">Nielit Courses</a></li>
                                    <li ><a href="coursedetails2a75.html?cid=TWc9PQ==">Short Term Courses</a></li>
                                    <li ><a href="coursedetails6af6.html?cid=TXc9PQ==">Tally Course</a></li>
                                    <li ><a href="coursedetails49d9.html?cid=TlE9PQ==">Diploma Course</a></li>
                                    <li ><a href="coursedetails9160.html?cid=Tmc9PQ==">Android Programs</a></li>
                                    <li ><a href="coursedetailse25f.html?cid=Tnc9PQ==">Programming Courses </a></li>
                                    <li ><a href="coursedetails3101.html?cid=T0E9PQ==">Typing & Shorthand</a></li>
                                    <li ><a href="coursedetailsf73a.html?cid=T1E9PQ==">University Courses</a></li>
                                    <li ><a href="coursedetails5289.html?cid=TVRBPQ==">Ha</a></li>
                                    <li ><a href="coursedetails3d09.html?cid=TVRFPQ==">Diploma In Beauty Parlour</a></li>
                                    <li ><a href="coursedetails5a9c.html?cid=TVRJPQ==">Diploma In Office Automation & Publishing( DOAP)</a></li>
                                 
                                    
				</ul> -->
              </li>
			  
			 
			  <li> <a href="javascript:void(0);">Students</a>
                   <ul class="dropdown">
					 <li><a href="verify.html">Student Verification</a></li>
					 <li><a href="/student-login">Student Login</a></li>
					  
                      <li><a href="certificate-verification.html">Certificate Verifications</a></li>
                       <li><a href="old_certificate.html">Old Certificate Verifications</a></li>
                      
                    </ul>
                  </li>
				   <li> <a href="javascript:void(0);">Login</a>
                   <ul class="dropdown">
					 <li><a href="admin-login" target="_blank">Admin Login</a></li>
					  <li><a href="student-login" target="_blank">Student login</a></li>
                     
                  </ul>
                  </li>
				<li ><a href="photo-gallery">Gallery</a>
                
             
              
				<li class="active" ><a href="contact-us" >Contact Us</a></li>
				
		<!--	<li><select name="branch"  onChange="find_branch($mysqli,this.value)"   style=" width:120px; padding:5px;margin-left:10%;margin-bottom:5px;margin-top:7px"> 
<option value="" selected>-- BRANCH --</option>
<option value="" >
</option>
</select><li>-->
              </ul>
            <div class="pull-right sm-pull-none mb-sm-15">
              <a class="btn btn-colored btn-flat btn-theme-colored2 mt-5 mr-15 ml-15 " href="placement.html">Placement</a>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>