 
<!DOCTYPE html>
<html dir="ltr" lang="en">

<!-- Mirrored from www.itcomputerinstitute.com/login.php by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 25 Dec 2024 10:17:07 GMT -->
<head>
<!-- Meta Tags -->
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta name="author" content="WRIGLECS" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta name="description" content="Computer Institute - Climax Computer Institutes is the best Computer institute in . We are offering DCA, ADCA, CCC & O level & Tally Courses. We are also offering Programing Courses C Language, C++, Java etc." />
<meta name="keywords" content="Best computer institute in , computer institute, pmkvy, pradhan mantri kaushal vikas yojana, pmkvy, Climax Computer Institutes  in , DCA, ADCA, ccc, o level, java, c, c++ courses " />
<title>Climax Computer Institutes</title>
<!-- FAVICON FILES and Touch Icons -->
	<link href="images/fav.png" rel="apple-touch-icon" sizes="144x144">
	<link href="images/fav.png" rel="apple-touch-icon" sizes="114x114">
	<link href="images/fav.png" rel="apple-touch-icon" sizes="72x72">
	<link href="images/fav.png" rel="apple-touch-icon">
	<link href="images/fav.png" rel="shortcut icon">
<!-- Stylesheet -->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/jquery-ui.min.css" rel="stylesheet" type="text/css">
<link href="css/animate.css" rel="stylesheet" type="text/css">
<link href="css/css-plugin-collections.css" rel="stylesheet"/>
<!-- CSS | menuzord megamenu skins -->
<link href="css/menuzord-megamenu.css" rel="stylesheet"/>
<link id="menuzord-menu-skins" href="css/menuzord-boxed.css" rel="stylesheet"/>
<!-- CSS | Main style file -->
<link href="css/style-main.css" rel="stylesheet" type="text/css">
<!-- CSS | Preloader Styles -->
<link href="css/preloader.css" rel="stylesheet" type="text/css">
<!-- CSS | Custom Margin Padding Collection -->
<link href="css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
<!-- CSS | Responsive media queries -->
<link href="css/responsive.css" rel="stylesheet" type="text/css">
<link href="css/theme-skin-color-set4.css" rel="stylesheet" type="text/css">
<!-- external javascripts -->


</head>
<body class="">
<div id="wrapper" class="clearfix">
    
  <!--<script type="text/javascript">
function find_branch($mysqli,val)
{
	location.href='branches.php?branchid='+val;
	return false;
}
</script>-->
 <!-- Header -->
 <%- include('partials/Header') %>
               <style>
			.closebtn {
			margin-left: 15px;
			color: white;
			font-weight: bold;
			float: right;
			font-size: 22px;
			line-height: 20px;
			cursor: pointer;
			transition: 0.3s;
			}
			</style>  <!-- Start main-content -->
  <div class="main-content">
    <!-- Section: home -->
 <section class="inner-header divider layer-overlay overlay-theme-colored-7" data-bg-img="images/bg3.jpg">
      <div class="container pt-10 pb-10">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row"> 
            <div class="col-md-12">
              <h2 class="text-white font-36">Student Login</h2>
              <ol class="breadcrumb text-left mt-10 white">
                <li><a href="index-2.html">Home</a></li>
                <li class="active">Student Login</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section> 

    <section class="position-inherit">
      <div class="container">
        
		
		<div class="row">
		<style>
		.content-bg {
    width: 100%;
    border: 1px solid #CCC;
    background-color: #FFFFFF;
    border-bottom: 5px solid #CCC;
    padding: 5px 5%;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 10px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 600;
    line-height: 1.1em;
    color: #333;
}
h3, .h3 {
    font-size: 24px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.form-group {
    margin-bottom: 15px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
border: 1px solid #ccc;}
		</style>
<div class="col-lg-4">
		
        </div>
		  
		<div class="col-lg-4">
				<div class="login content-bg">

				<center>

				<h3>Student Login Form</h3>
				
	<form action="/api/v1/auth/Login" style="width:100%; margin-left:2%;" id="sky-form" class="sky-fosrm" method="post"  novalidate="novalidate">	
 	<div class="row">
	  				<div class="form-group">
					<lable style="text-align:left;">User ID</lable>
					<input class="form-control" name="username" id="regsno" type="text" style="text-align:center;">
				</div>
				<div class="form-group">
					<lable>Password</lable>
					<input class="form-control" name="password" type="password" id="password" style="text-align:center;">
				</div>
				<div class="form-group">
					<input class="btn" name="submit" type="submit" id="submit" value="Login">
					<a href="index-2.html">
					<input class="btn" name="cancel" type="button" id="cancel" value="Cancel">
					</a>
				</div>
					<i>(Password Recover By The Institute)</i><br><br>
					
					<div class="poweredby">
						Powered by : <strong>Climax Computer Institutes</strong>				
					</div>	
				
				
				</div></form></center>
				</div>							
				</div>
		
		<div class="col-lg-4">
		</div>




</div>
      </div>
    </section>
<!-- end main-content -->
</div>
<!-- Footer -->
<%- include('partials/Footer') %>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>


<!--Start of Tawk.to Script-->

<!--End of Tawk.to Script-->
<!-- end wrapper -->
<script src="js/jquery-2.2.4.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- JS | jquery plugin collection -->
<script src="js/jquery-plugin-collection.js"></script>
<!-- Footer Scripts -->
<script src="js/custom.js"></script>
<script type="text/javascript">
    $(window).on('load',function(){
        $('#myModal2').modal('show');
    });
</script>
<!-- WhatsHelp.io widget --></body>

<!-- Mirrored from www.itcomputerinstitute.com/login.php by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 25 Dec 2024 10:17:07 GMT -->
</html>