 
<!DOCTYPE html>
<html dir="ltr" lang="en">

<!-- Mirrored from www.itcomputerinstitute.com/login.php by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 25 Dec 2024 10:17:07 GMT -->
<head>
<!-- Meta Tags -->
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta name="author" content="WRIGLECS" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta name="description" content="Computer Institute - Climax Computer Institutes is the best Computer institute in . We are offering DCA, ADCA, CCC & O level & Tally Courses. We are also offering Programing Courses C Language, C++, Java etc." />
<meta name="keywords" content="Best computer institute in , computer institute, pmkvy, pradhan mantri kaushal vikas yojana, pmkvy, Climax Computer Institutes  in , DCA, ADCA, ccc, o level, java, c, c++ courses " />
<title>Climax Computer Institutes</title>
<!-- FAVICON FILES and Touch Icons -->
	<link href="images/fav.png" rel="apple-touch-icon" sizes="144x144">
	<link href="images/fav.png" rel="apple-touch-icon" sizes="114x114">
	<link href="images/fav.png" rel="apple-touch-icon" sizes="72x72">
	<link href="images/fav.png" rel="apple-touch-icon">
	<link href="images/fav.png" rel="shortcut icon">
<!-- Stylesheet -->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/jquery-ui.min.css" rel="stylesheet" type="text/css">
<link href="css/animate.css" rel="stylesheet" type="text/css">
<link href="css/css-plugin-collections.css" rel="stylesheet"/>
<!-- CSS | menuzord megamenu skins -->
<link href="css/menuzord-megamenu.css" rel="stylesheet"/>
<link id="menuzord-menu-skins" href="css/menuzord-boxed.css" rel="stylesheet"/>
<!-- CSS | Main style file -->
<link href="css/style-main.css" rel="stylesheet" type="text/css">
<!-- CSS | Preloader Styles -->
<link href="css/preloader.css" rel="stylesheet" type="text/css">
<!-- CSS | Custom Margin Padding Collection -->
<link href="css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
<!-- CSS | Responsive media queries -->
<link href="css/responsive.css" rel="stylesheet" type="text/css">
<link href="css/theme-skin-color-set4.css" rel="stylesheet" type="text/css">
<!-- external javascripts -->


</head>
<body class="">
<div id="wrapper" class="clearfix">
    
  <!--<script type="text/javascript">
function find_branch($mysqli,val)
{
	location.href='branches.php?branchid='+val;
	return false;
}
</script>-->
 <!-- Header -->
 <%- include('partials/Header') %>
               <style>
			.closebtn {
			margin-left: 15px;
			color: white;
			font-weight: bold;
			float: right;
			font-size: 22px;
			line-height: 20px;
			cursor: pointer;
			transition: 0.3s;
			}
			</style>  <!-- Start main-content -->
  <div class="main-content">
    <!-- Section: home -->
 <section class="inner-header divider layer-overlay overlay-theme-colored-7" data-bg-img="images/bg3.jpg">
      <div class="container pt-10 pb-10">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row"> 
            <div class="col-md-12">
              <h2 class="text-white font-36">Student Login</h2>
              <ol class="breadcrumb text-left mt-10 white">
                <li><a href="index-2.html">Home</a></li>
                <li class="active">Student Login</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section> 

    <section class="position-inherit">
      <div class="container">
        
		
		<div class="row">
		<style>
		.content-bg {
    width: 100%;
    border: 1px solid #CCC;
    background-color: #FFFFFF;
    border-bottom: 5px solid #CCC;
    padding: 5px 5%;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 10px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 600;
    line-height: 1.1em;
    color: #333;
}
h3, .h3 {
    font-size: 24px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.form-group {
    margin-bottom: 15px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
border: 1px solid #ccc;}
		</style>
<div class="col-lg-4">
		
        </div>
		  
		<div class="col-lg-4">
				<div class="login content-bg">

				<center>

				<h3>Student Login Form</h3>
				
        <form action="/api/v1/auth/Register" enctype="multipart/form-data" style="width:100%; margin-left:2%;" id="sky-form" class="sky-fosrm" method="post" novalidate="novalidate">
          <div class="form-group">
            <lable style="text-align:left;">Name</lable>
            <input class="form-control" name="name"  type="text" style="text-align:center;">
          </div>
	  				<div class="form-group">
					<lable style="text-align:left;">Rollno/username</lable>
					<input class="form-control" name="username"  type="text" style="text-align:center;">
				</div>
        <div class="form-group">
					<lable style="text-align:left;">E-mail</lable>
					<input class="form-control" name="email"  type="email" style="text-align:center;">
				</div>
        <div class="form-group">
					<lable style="text-align:left;">Fathers Name</lable>
					<input class="form-control" name="fathersname"  type="text" style="text-align:center;">
				</div>
        <div class="mb-3">
          <label for="course" class="form-label">Select Course</label>
          <select class="form-select" id="course" name="course" required>
            <option value="" disabled selected>Select a course</option>
            <option value="CCC">CCC</option>
            <option value="O Level">O Level</option>
            <option value="DCA">DCA</option>
            <option value="ADCA">ADCA</option>
            <option value="MICROSOFT">MICROSOFT</option>
            <option value="CPCA">CPCA</option>
            <option value="EXCEL">EXCEL</option>
            <option value="DIT">DIT</option>
            <option value="JAVA">JAVA</option>
            <option value="DTP">DTP</option>
            <option value="CCA">CCA</option>
            <option value="Tally + GST">Tally Prime + GST</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="profilePicture" class="form-label">Profile Picture</label>
          <input type="file" class="form-control" id="profilePicture" name="dp" accept="image/*">
        </div>
				<div class="form-group">
					<lable>Password</lable>
					<input class="form-control" name="password" type="password" id="password" style="text-align:center;">
				</div>
				<div class="form-group">
					<input class="btn" name="submit" type="submit" id="submit" value="Login">
					<a href="index-2.html">
					<input class="btn" name="cancel" type="button" id="cancel" value="Cancel">
					</a>
				</div>
					<i>(Password Recover By The Institute)</i><br><br>
					
					<div class="poweredby">
						Powered by : <strong>Climax Computer Institutes</strong>				
					</div>	
				
				
				</div></form></center>
				</div>							
				</div>
		
		<div class="col-lg-4">
		</div>




</div>
      </div>
    </section>
<!-- end main-content -->
</div>
<!-- Footer -->
<footer id="footer" class="footer" data-bg-color="#d7010a">
    <div class="container pt-70 pb-40">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            
             <h4 class="widget-title line-bottom-theme-colored-2"><strong>ABOUT US</strong></h4>
			<p style="color:#FFFFFF;">Climax Computer Institutes it has been running Under the Aegis of MSME Reg. with Govt. of India.  Climax Computer Institutes is An ISO 9001 : 2015 Certified Institute, is a leading IT Education Provider Institution in India with strong presence in the state of Uttar Pradesh, Madhya Pradesh & Maharashtra.&nbsp;&nbsp;<a href="pageca5d.html?id=TVRnPQ==" style="color:orange;">Read More..</a></p>
            <ul class="list-inline mt-5" style="color:#FFFFFF;">
              <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-theme-colored2 mr-5"></i> <a class="text-gray" href="tel:+91 9359444821,7830166502">+91 9359444821,7830166502</a></li>
              <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-theme-colored2 mr-5"></i> <a class="text-gray" href="mailto:info@itcomputerinstitute.com">info@itcomputerinstitute.com</a> </li>
              <li class="m-0 pl-10 pr-10"> <i class="fa fa-globe text-theme-colored2 mr-5"></i> <a class="text-gray" href="index-2.html">www.itcomputerinstitute.com</a> </li>
            </ul>            
            <ul class="styled-icons icon-sm icon-bordered icon-circled clearfix mt-10" style="color:#FFFFFF;">
              <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
          <center>
                        <a href="app-release.apk"><img src="images/applogo.png" style="width:70%;"></a>
                        </center>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h4 class="widget-title line-bottom-theme-colored-2">Useful Links</h4>
            <ul class="angle-double-right list-border">
			<li><a href="pageca5d.html?id=TVRnPQ==" ><i class="fa fa-arrow-right"></i> Organizations Profile</a></li>
			<li><a href="page02a9.html?id=TVRrMA==" ><i class="fa fa-arrow-right"></i> Why Climax Computer Institutes?</a></li>
              <li><a href="gallery.html" ><i class="fa fa-arrow-right"></i> Gallery </a></li>
              <li><a href="contact-us.html" ><i class="fa fa-arrow-right"></i> Contact Us</a></li>
			<li><a href="new/index.html" target="_blank"><i class="fa fa-arrow-right"></i> Admin Login</a></li>
              <li><a href="new/index.html" target="_blank"><i class="fa fa-arrow-right"></i> Employee Login</a></li>
              <li><a href="new/index.html" target="_blank"><i class="fa fa-arrow-right"></i> Centre Login</a></li>
              <li><a href="webmail.html" target="_blank"><i class="fa fa-arrow-right"></i> Webmail Login</a></li>
            
                 
            </ul>
          </div>
        </div>
        
        
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h4 class="widget-title line-bottom-theme-colored-2">Other Network Sites</h4>
            <ul class="angle-double-right list-border">
			<li><a href="verify.html"><i class="fa fa-arrow-right"></i> Student Verifications</a></li>
              	<li><a href="login.html"><i class="fa fa-arrow-right"></i> Student Login</a></li>
              	<li><a href="marksheet-verification.html"><i class="fa fa-arrow-right"></i> Marksheet Verifications</a></li>
                      <li><a href="certificate-verification.html"><i class="fa fa-arrow-right"></i> Certificate Verifications</a></li>
                      <li><a href="http://www.nielit.gov.in/Certificate/"target="blank"><i class="fa fa-arrow-right"></i> Download Nielit Certificate</a></li>
                       <li><a href="http://student.nielit.gov.in/"target="blank"><i class="fa fa-arrow-right"></i> Download Nielit O'level Result</a></li>
                        <li><a href="http://student.nielit.gov.in/"target="blank"><i class="fa fa-arrow-right"></i> Download CCC Result</a></li>
                         <li><a href="http://student.nielit.gov.in/"target="blank"><i class="fa fa-arrow-right"></i> Download Nielit Admit Card</a></li>
                       <!-- <li><a href="http://www.sarkariresult.com/" target="blank"><i class="fa fa-arrow-right"></i> Get Latest Jobs</a></li>-->
                      
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h4 class="widget-title line-bottom-theme-colored-2">Find us on Map</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14156.573086082033!2d79.1736304!3d27.4959194!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x77325ce2b4cfc277!2sI.T.%20Computer%20Institute%20Aliganj%20Etah!5e0!3m2!1sen!2sin!4v1574935346939!5m2!1sen!2sin" width="600" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>  </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom" data-bg-color="#000">
      <div class="container pt-20 pb-20">
        <div class="row">
          <div class="col-md-6">
            <p class="font-12 text-black-777 m-0 sm-text-center">Copyright &copy; 2019 Climax Computer Institutes. All Rights Reserved</p>
            <p class="font-10 text-black-777 m-0 sm-text-center">Developed by <a href="#" target="_blank">WindEagle Corps</a></p>
          </div>
          <div class="col-md-6 text-right">
            <div class="widget no-border m-0">
              <ul class="list-inline sm-text-center mt-5 font-12">
                <li>
                  <a href="index-2.html">Home </a>
                </li>
                <li>|</li>
                <li>
                  <a href="page5887.html?id=TVRreg==">About Us</a>
                </li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>

<script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "+919359444821", // WhatsApp number
            company_logo_url: "//static.whatshelp.io/img/flag.png", // URL of company logo (png, jpg, gif)
            greeting_message: "Hello, how may we help you? Just send us a message now to get assistance.", // Text of greeting message
            call_to_action: "Message us", // Call to action
            position: "left", // Position may be 'right' or 'left'
        };
        var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>

<!--Start of Tawk.to Script-->

<!--End of Tawk.to Script-->
<!-- end wrapper -->
<script src="js/jquery-2.2.4.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- JS | jquery plugin collection -->
<script src="js/jquery-plugin-collection.js"></script>
<!-- Footer Scripts -->
<script src="js/custom.js"></script>
<script type="text/javascript">
    $(window).on('load',function(){
        $('#myModal2').modal('show');
    });
</script>
<!-- WhatsHelp.io widget --></body>

<!-- Mirrored from www.itcomputerinstitute.com/login.php by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 25 Dec 2024 10:17:07 GMT -->
</html>